body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
    background-color: aliceblue;
}

h3 {
    color: gray;
    margin-bottom: 10px;
    white-space: nowrap;
}

#title {
    color: navy;
    font-size: 16px;
    text-align: center;
    font-weight:900;
}

#additionalExperience{
    cursor: pointer;
    transition: color 0.3s;
}

#additionalExperience.clicked {
    color: #808000; 
}

.optional-text {
    color: red;
}

#textareaContainer {
    display: none;
    margin-top: 10px;
}

#box , #boxx{ 
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
}

#large_box{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman', Times, serif;
}

#submit,
#submitResume {
    flex: 1;
    margin: 5px; 
}

#loading {
    text-align: center;
    display: none;
    margin: 20px 0;
    color: #007bff;
    font-weight: bold;
    font-size: 16px; 
}

button {
    background-color:#4c7989;
    padding: .2em .2em;
    margin-top: 2em;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 500;
    transition: transform 200ms ease-in-out;
}

button:hover {
    background-color:#4c7989;
    transform: scale(1.1);
}

button:active{
    background-color: gray;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
}

#close {
    float:right;
    padding:2px 5px;
    background:#ccc;
    cursor:default;
}

#close:hover {
    float:right;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}

.error {
    border-style: solid;
    border-width: 2px;
    border-color: red;
    background:pink;
}